*.retry
*.swp
*.tar

#certs
*.pem
*.crt
*.pub
*.key
*.csr

/bak

ignore docker images
gcr.io_google_containers_etcd-amd64
gcr.io_google_containers_k8s-dns-dnsmasq-nanny-amd64
gcr.io_google_containers_k8s-dns-kube-dns-amd64
gcr.io_google_containers_k8s-dns-sidecar-amd64
gcr.io_google_containers_kube-apiserver-amd64
gcr.io_google_containers_kube-controller-manager-amd64
gcr.io_google_containers_kube-proxy-amd64
gcr.io_google_containers_kube-scheduler-amd64
gcr.io_google_containers_pause-amd64
k8s.gcr.io_etcd
k8s.gcr.io_kubernetes-dashboard-amd64
quay.io_coreos_flannel

# Erlang coolie
erlang.cookie

.vagrant
.DS_Store
*.retry
tmp
tmp/*
*.ovpn
.keys/
.venv/
logs/
roles-bk/
extra-playbooks-bk/
*.ini
openrc
.idea

env