## template: jinja
#cloud-config

# Common Configurations
## Optional
{% set custom_ssh_key = "" %}
{% set custom_ssh_import_id = "" %}
{% set custom_user = "canonical" %}
{% set custom_password = "ubuntu" %}
{% set custom_pro_token = "" %}
{% set custom_hostname = "" %}
{% set custom_tld = "local" %}
# MAAS Configurations
## Required
{% set custom_maas_ipv4_host_address = "10.250.120.2" %}
{% set custom_maas_ipv4_network_address = "10.250.120.1/24" %}
{% set custom_maas_ipv4_dns = "10.250.120.1" %}
{% set custom_maas_ipv4_subnet_start = "10.250.120.23" %}
{% set custom_maas_ipv4_subnet_end = "10.250.120.87" %}
{% set custom_maas_ipv6_network_address = "fd42:3959:4b5:5d92::/64" %}
{% set custom_maas_ipv6_dns = "fd42:3959:4b5:5d92::1" %}
{% set custom_maas_ipv6_subnet_start = "fd42:3959:4b5:5d92::23" %}
{% set custom_maas_ipv6_subnet_end = "fd42:3959:4b5:5d92::7F" %}
{% set custom_maas_ipv4_ext_host_address = "10.251.120.2" %}
{% set custom_maas_ipv4_ext_network_address = "10.251.120.1/24" %}
{% set custom_maas_project_name = "maas-repros" %}
{% set custom_maas_client_cert = "" %}
{% set custom_maas_client_key = "" %}
## Optional
{% set custom_maas_package = "snap" %}
{% set custom_maas_channel = "3.5/stable" %}
{% set custom_maas_juju_channel = "3.6/stable" %}
{% set custom_maas_ipv4_upstream_dns = "8.8.8.8" %}
{% set custom_maas_ipv6_upstream_dns = "2001:4860:4860::8888" %}
{% set custom_maas_user = "admin" %}
{% set custom_maas_password = "admin" %}
{% set custom_maas_email = "admin@maas-se-repros.lan" %}
{% set custom_maas_image_releases = "jammy" %}

#Set correct Datasource depending on the cloud
{% if cloud_name == "lxd" %}
  {% set meta = {} %}
  {% for key, value in ds.config.items() %}
    {% if key.startswith("user_") %}
      {% set _ = meta.__setitem__(key[5:], value) %}
    {% endif %}
  {% endfor %}
{% else %}
  {% set meta = ds.meta_data.get("meta") if ds.meta_data.get("meta") else {} %}
{% endif %}

# Use cloud provided config, otherwise use the custom set at the top of this template
{% set ssh_key = meta.get("ssh_key") or custom_ssh_key %}
{% set ssh_import_id = meta.get("ssh_import_id") or custom_ssh_import_id %}
{% set user = meta.get("user") or (custom_user if custom_user != "" and custom_user != "ubuntu" else "canonical") %}
{% set password = meta.get("password") or custom_password %}
{% set pro_token = meta.get("pro_token") or custom_pro_token %}
{% set tld = meta.get("tld") or (cloud_name if cloud_name == "lxd" or cloud_name == "maas") or custom_tld %}
{% set maas_ipv4_host_address = meta.get("maas_ipv4_host_address") or custom_maas_ipv4_host_address %}
{% set maas_ipv4_network_address = meta.get("maas_ipv4_network_address") or custom_maas_ipv4_network_address %}
{% set maas_ipv4_dns = meta.get("maas_ipv4_dns") or custom_maas_ipv4_dns %}
{% set maas_ipv4_subnet_start = meta.get("maas_ipv4_subnet_start") or custom_maas_ipv4_subnet_start %}
{% set maas_ipv4_subnet_end = meta.get("maas_ipv4_subnet_end") or custom_maas_ipv4_subnet_end %}
{% set maas_ipv6_network_address = meta.get("maas_ipv6_network_address") or custom_maas_ipv6_network_address %}
{% set maas_ipv6_dns = meta.get("maas_ipv6_dns") or custom_maas_ipv6_dns %}
{% set maas_ipv6_subnet_start = meta.get("maas_ipv6_subnet_start") or custom_maas_ipv6_subnet_start %}
{% set maas_ipv6_subnet_end = meta.get("maas_ipv6_subnet_end") or custom_maas_ipv6_subnet_end %}
{% set maas_ipv4_ext_host_address = meta.get("maas_ipv4_ext_host_address") or custom_maas_ipv4_ext_host_address %}
{% set maas_ipv4_ext_network_address = meta.get("maas_ipv4_ext_network_address") or custom_maas_ipv4_ext_network_address %}
{% set maas_channel = meta.get("maas_channel") or custom_maas_channel %}
{% set maas_juju_channel = meta.get("maas_juju_channel") or custom_maas_juju_channel %}
{% set maas_ipv4_upstream_dns = meta.get("maas_ipv4_upstream_dns") or custom_maas_ipv4_upstream_dns %}
{% set maas_ipv6_upstream_dns = meta.get("maas_ipv6_upstream_dns") or custom_maas_ipv6_upstream_dns %}
{% set maas_user = meta.get("maas_user") or custom_maas_user %}
{% set maas_password = meta.get("maas_password") or custom_maas_password %}
{% set maas_email = meta.get("maas_email") or custom_maas_email %}
{% set maas_image_releases = meta.get("maas_image_releases") or custom_maas_image_releases %}
{% set maas_client_cert = meta.get("maas_client_cert") or custom_maas_client_cert %}
{% set maas_client_key = meta.get("maas_client_key") or custom_maas_client_key %}

# Create FQDN
{% set hostname = (local_hostname if custom_hostname == "" else custom_hostname) + "." + tld %}
fqdn: {{ hostname }}
prefer_fqdn_over_hostname: true

package_update: true
package_upgrade: true

{% if maas_package == 'deb' %}
apt:
  sources:
      maas:
          source: 'ppa:maas/{{ maas_channel.split('/')[0] }}'
packages:
  - maas
{% endif %}
snap:
  commands:
    - 'snap install yq'
{% if maas_juju_channel == '2.9/stable' %}
    - 'snap install juju --channel={{ maas_juju_channel }} --classic'
{% else %}
    - 'snap install juju --channel={{ maas_juju_channel }}'
{% endif %}
{% if maas_package == 'snap' %}
    - 'snap install maas --channel={{ maas_channel }}'
    - 'snap install maas-test-db'
{% endif %}

{% if pro_token %}
ubuntu_pro:
  token: {{ pro_token }}
{% endif %}

{% if not ssh_key and not ssh_import_id %}
ssh_pwauth: true
{% endif %}

users:
  - default
  - name: {{ user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
{% if not ssh_key and not ssh_import_id %}
    plain_text_passwd: "{{ password }}"
    lock_passwd: false
{% endif %}
{% if ssh_key %}
    ssh_authorized_keys:
      - {{ ssh_key }}
{% endif %}
{% if ssh_import_id %}
    ssh_import_id:
      - {{ ssh_import_id }}
{% endif %}

write_files:
  - path: /usr/local/bin/jq
    permissions: '0755'
    content: |
      #!/bin/bash
      yq -p json -o json "$@"
  - path: /root/maas_client.crt
    permissions: '0644'
    content: |
      {{ maas_client_cert | indent(6) }}
  - path: /root/maas_client.key
    permissions: '0600'
    content: |
      {{ maas_client_key | indent(6) }}
  - path: /root/maas-init.sh
    permissions: '0755'
    content: |
      #!/bin/bash
{% if maas_package == 'snap' %}
      sudo maas init region+rack --database-uri maas-test-db:/// --maas-url=http://{{ maas_ipv4_host_address }}:5240/MAAS
{% endif %}
{% if ssh_import_id %}
      maas createadmin --user {{ maas_user }} --password {{ maas_password }} --email {{ maas_email }} --ssh-import {{ ssh_import_id }}
{% else %}
      maas createadmin --user {{ maas_user }} --password {{ maas_password }} --email {{ maas_email }}
{% endif %}
      # Need to wait until we can actually get the API key
      api_key=""
      while [[ -z "$api_key" ]]; do
        api_key="$(maas apikey --username=admin 2>/dev/null)" || sleep 2
      done
      echo "$api_key" | tee /root/maas-api-key
  - path: /root/maas-login.sh
    permissions: '0755'
    content: |
      #!/bin/bash
      # Keep trying to log in
      api_key="$(cat /root/maas-api-key)"
      maas login admin "http://{{ maas_ipv4_host_address }}:5240/MAAS/api/2.0/" "$(cat /root/maas-api-key)" 2>/dev/null
      while [[ $? -ne 0 ]]; do
        sleep 2
        maas login admin "http://{{ maas_ipv4_host_address }}:5240/MAAS/api/2.0/" "$(cat /root/maas-api-key)" 2>/dev/null
      done
  - path: /root/maas-config.sh
    permissions: '0755'
    content: |
      #!/bin/bash
      # Set up SSH for MAAS
{% if ssh_key %}
      maas admin sshkeys create "key={{ ssh_key }}"
{% else %}
      ssh-keygen -q -t rsa -N "" -f "/root/.ssh/id_rsa"
      maas admin sshkeys create "key=$(cat /root/.ssh/id_rsa.pub)"
{% endif %}
      # Configure MAAS images
      # TODO add further logic here for when a user sets a custom boot source for an airgapped / self-hosted env
      boot_sources="$(maas admin boot-sources read)"
      if [[ $(jq 'length' <<< "$boot_sources") == 1 ]]; then
        boot_source_id="$(jq '.[0].id' <<< "$boot_sources")"
      fi
      for release in {{ maas_image_releases }}; do
        maas admin boot-source-selections create "$boot_source_id" os="ubuntu" release="$release" arches="amd64" subarches="*"  labels="*"
      done
      maas admin boot-resources import
      # Configure MAAS DHCP & subnet
      subnet4=()
      while [[ ${{ "{" }}#subnet4} -eq 0 ]]; do
        subnet4=($(maas admin subnets read | jq -r '.[] | select(.name == "{{ maas_ipv4_network_address|replace(".1/", ".0/") }}") | "\(.id) \(.vlan.fabric_id) \(.vlan.vid)"')) || \
        sleep 2
      done
      id4=${subnet4[0]}
      fabric=${subnet4[1]}
      vid=${subnet4[2]}
      subnet5=()
      while [[ ${{ "{" }}#subnet5} -eq 0 ]]; do
        subnet5=($(maas admin subnets read | jq -r '.[] | select(.name == "{{ maas_ipv4_ext_network_address|replace(".1/", ".0/") }}") | "\(.id) \(.vlan.fabric_id) \(.vlan.vid)"')) || \
        sleep 2
      done
      id5=${subnet5[0]}
      fabric5=${subnet5[1]}
      vid5=${subnet5[2]}
      echo "$fabric"
      maas admin spaces create name=oam-space
      maas admin spaces create name=ext-space
      maas admin ipranges create type=dynamic subnet=$id4 start_ip={{ maas_ipv4_network_address|replace(".1/", ".20/") }} end_ip={{ maas_ipv4_network_address|replace(".1/", ".50/") }}
      maas admin ipranges create type=reserved subnet=$id4 start_ip={{ maas_ipv4_network_address|replace(".1/", ".100/") }} end_ip={{ maas_ipv4_network_address|replace(".1/", ".140/") }} comment="mycloud-internal-api"
      maas admin ipranges create type=reserved subnet=$id4 start_ip={{ maas_ipv4_network_address|replace(".1/", ".150/") }} end_ip={{ maas_ipv4_network_address|replace(".1/", ".190/") }} comment="mycloud-public-api"
      maas admin vlan update "$fabric" "$vid" dhcp_on=True primary_rack=$(hostname -s) space=oam-space
      maas admin maas set-config name=upstream_dns value="{{ maas_ipv4_upstream_dns }},{{ maas_ipv6_upstream_dns }}"
      maas admin subnet update "$id4" dns_servers={{ maas_ipv4_dns }} gateway_ip={{ maas_ipv4_network_address.split('/')[0] }}
      maas admin vlan update "$fabric5" "$vid5" dhcp_on=False space=ext-space
{% if maas_ipv6_network_address != "none" %}
      # Create and Configure ipv6 MAAS subnet
      id6=($(maas admin subnets read | jq -r '.[] | select(.name == "{{ maas_ipv6_network_address|replace(":1/", ":/") }}").id'))
      maas admin subnet update "$id6" dns_servers={{ maas_ipv6_dns }} fabric=${fabric}
      maas admin ipranges create type=dynamic subnet=$id6 start_ip={{ maas_ipv6_subnet_start }} end_ip={{ maas_ipv6_subnet_end }}
{% endif %}
      # Set up credentials for Juju
      cat /root/.local/share/juju/credentials.yaml | yq e ".credentials.\"maas-one\".anyuser.\"maas-oauth\" = \"$(cat /root/maas-api-key)\"" | sudo tee credentials.yaml
      mv credentials.yaml /root/.local/share/juju/credentials.yaml
      # Add VM host
      maas admin vm-hosts create type=lxd power_address={{ maas_ipv4_network_address.split('/')[0] }} certificate="$(cat /root/maas_client.crt)" key="$(cat /root/maas_client.key)" project={{ maas_project_name }} name={{ maas_project_name }}
      # Skip web UI Welcome/Intro screen
      maas admin maas set-config name=completed_intro value=true
  - path: /root/juju-config.sh
    permissions: '0755'
    content: |
      #!/bin/bash
      # Make sure MAAS images are imported
      loading=""
      while maas admin boot-resources is-importing | grep -q 'true'; do
          loading="${loading}."
          echo -ne "Images are still importing${loading}\r"
          sleep 60
      done
      echo "Images are done importing."
      maas admin vm-host refresh 1
      # Bootstrap Juju
      juju bootstrap maas-one maas-controller
      juju switch controller
  - path: /root/.local/share/juju/clouds.yaml
    permissions: '0755'
    content: |
      clouds:
        maas-one:
          type: maas
          auth-types: [oauth1]
          endpoint: http://{{ maas_ipv4_host_address }}:5240/MAAS
  - path: /root/.local/share/juju/credentials.yaml
    permissions: '0755'
    content: |
      credentials:
        maas-one:
          anyuser:
            auth-type: oauth1
            maas-oauth: token
  - path: /etc/netplan/60-eth1-static.yaml
    permissions: '0600'
    content: |
      network:
        version: 2
        ethernets:
          eth1:
            dhcp4: false
            addresses:
              - {{ maas_ipv4_ext_host_address }}/24
runcmd:
    - netplan apply
    - /root/maas-init.sh
    - /root/maas-login.sh
    - /root/maas-config.sh
    #- git clone https://github.com/jasimioni/maas-tools /root/maas-tools