# Add your custom environment variables here
## Profile Settings ##
#export TF_VAR_flavor_xl2_cpu="16"
#export TF_VAR_flavor_xl2_memory="32GiB"
#export TF_VAR_flavor_xl2_disk="80GiB"
## Sunbeam Settings ##
#export TF_VAR_sunbeam_version="2024.1/beta"
#export TF_VAR_sunbeam_juju_version=""
#export TF_VAR_sunbeam_interactive=false
#export TF_VAR_sunbeam_deploy=true
## MAAS Settings ##
export TF_VAR_maas_ipv4_network_address="10.250.120.1/23"
export TF_VAR_maas_ipv4_dns="10.250.120.1"
#export TF_VAR_maas_ipv4_upstream_dns=default="8.8.8.8"
export TF_VAR_maas_ipv4_host_address="10.250.120.2/23"
export TF_VAR_maas_ipv4_subnet_start="10.250.120.23"
export TF_VAR_maas_ipv4_subnet_end="10.250.120.87"
export TF_VAR_maas_deploy=true